<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>sectionType</key>
            <string>门</string>
            <key>rowType</key>
            <array>
                <dict>
                    <key>roomID</key>
                    <string>001-0001</string>
                    <key>roomName</key>
                    <string>门厅</string>
                </dict>
                <dict>
                    <key>roomName</key>
                    <string>玄关</string>
                    <key>roomID</key>
                    <string>001-0002</string>
                </dict>
                <dict>
                    <key>roomName</key>
                    <string>客厅</string>
                    <key>roomID</key>
                    <string>001-0003</string>
                </dict>
                <dict>
                    <key>roomName</key>
                    <string>餐厅</string>
                    <key>roomID</key>
                    <string>001-0004</string>
                </dict>
                <dict>
                    <key>roomName</key>
                    <string>客餐厅</string>
                    <key>roomID</key>
                    <string>001-0005</string>
                </dict>
            </array>
        </dict>
        
        <dict>
            <key>sectionType</key>
            <string>房间</string>
            <key>rowType</key>
            <array>
                <dict>
                    <key>roomName</key>
                    <string>主卧</string>
                    <key>roomID</key>
                    <string>002-0001</string>
                </dict>
                <dict>
                    <key>roomName</key>
                    <string>次卧</string>
                    <key>roomID</key>
                    <string>002-0002</string>
                </dict>
                <dict>
                    <key>roomName</key>
                    <string>客卧</string>
                    <key>roomID</key>
                    <string>002-0003</string>
                </dict>
                <dict>
                    <key>roomName</key>
                    <string>老人房</string>
                    <key>roomID</key>
                    <string>002-0004</string>
                </dict>
                <dict>
                    <key>roomName</key>
                    <string>儿童房</string>
                    <key>roomID</key>
                    <string>002-0005</string>
                </dict>
                <dict>
                    <key>roomName</key>
                    <string>书房</string>
                    <key>roomID</key>
                    <string>002-0006</string>
                </dict>
                <dict>
                    <key>roomName</key>
                    <string>保姆间</string>
                    <key>roomID</key>
                    <string>002-0007</string>
                </dict>
            </array>
        </dict>
        
        <dict>
            <key>sectionType</key>
            <string>厨</string>
            <key>rowType</key>
            <array>
                <dict>
                    <key>roomName</key>
                    <string>厨房</string>
                    <key>roomID</key>
                    <string>003-0001</string>
                </dict>
                <dict>
                    <key>roomName</key>
                    <string>中厨</string>
                    <key>roomID</key>
                    <string>003-0002</string>
                </dict>
                <dict>
                    <key>roomName</key>
                    <string>西厨</string>
                    <key>roomID</key>
                    <string>003-0003</string>
                </dict>
            </array>
        </dict>
        
        
        <dict>
            <key>sectionType</key>
            <string>卫</string>
            <key>rowType</key>
            <array>
                <dict>
                    <key>roomName</key>
                    <string>主卫</string>
                    <key>roomID</key>
                    <string>004-0001</string>
                </dict>
                <dict>
                    <key>roomName</key>
                    <string>次卫</string>
                    <key>roomID</key>
                    <string>004-0002</string>
                </dict>
                <dict>
                    <key>roomName</key>
                    <string>客卫</string>
                    <key>roomID</key>
                    <string>004-0003</string>
                </dict>
                <dict>
                    <key>roomName</key>
                    <string>盥洗室</string>
                    <key>roomID</key>
                    <string>004-0004</string>
                </dict>
                
            </array>
        </dict>
        
        
        <dict>
            <key>sectionType</key>
            <string>阳台</string>
            <key>rowType</key>
            <array>
                <dict>
                    <key>roomName</key>
                    <string>阳台</string>
                    <key>roomID</key>
                    <string>005-0001</string>
                </dict>
                <dict>
                    <key>roomName</key>
                    <string>露台</string>
                    <key>roomID</key>
                    <string>005-0002</string>
                </dict>
            </array>
        </dict>
        
        
        <dict>
            <key>sectionType</key>
            <string>其他</string>
            <key>rowType</key>
            <array>
                <dict>
                    <key>roomName</key>
                    <string>走廊</string>
                    <key>roomID</key>
                    <string>006-0001</string>
                </dict>
                <dict>
                    <key>roomName</key>
                    <string>多功能室</string>
                    <key>roomID</key>
                    <string>006-0002</string>
                </dict>
                <dict>
                    <key>roomName</key>
                    <string>影音室</string>
                    <key>roomID</key>
                    <string>006-0003</string>
                </dict>
                <dict>
                    <key>roomName</key>
                    <string>储物间</string>
                    <key>roomID</key>
                    <string>006-0004</string>
                </dict>
                <dict>
                    <key>roomName</key>
                    <string>衣帽间</string>
                    <key>roomID</key>
                    <string>006-0005</string>
                </dict>
                <dict>
                    <key>roomName</key>
                    <string>步入室衣柜</string>
                    <key>roomID</key>
                    <string>006-0006</string>
                </dict>
                <dict>
                    <key>roomName</key>
                    <string>入室花园</string>
                    <key>roomID</key>
                    <string>006-0007</string>
                </dict>
                <dict>
                    <key>roomName</key>
                    <string>自定义</string>
                    <key>roomID</key>
                    <string>000-0000</string>
                </dict>
            </array>
        </dict>
    </array>
</plist>
